# Environment Configuration
.env

# Dependency directory
node_modules

# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# build folders
dist

# Logs
logs
*.log

# Playwright
test-results
playwright-report
playwright/.cache
blob-report
